# Dependencies
/node_modules/

# Build and cache
/dist/
/projects/jar-labler-ui/dist/
/out-tsc/
/.angular/

# Test coverage
/coverage/

# WebStorm
/.idea/

# Logs
npm-debug.log*

# OS
.DS_Store
Thumbs.db
